<aside class="sidebar">

    <form>
        <div class="input-group input-group-lg">
            <input class="form-control" placeholder="Search..." name="s" id="s" type="text">
            <span class="input-group-btn">
                <button type="submit" class="btn btn-primary btn-lg"><i class="fa fa-search"></i></button>
            </span>
        </div>
    </form>

    <hr>

    <h5 class="heading-primary">Tags</h5>

    <a href="#"><span class="label label-dark">Nike</span></a>
    <a href="#"><span class="label label-dark">Travel</span></a>
    <a href="#"><span class="label label-dark">Sport</span></a>
    <a href="#"><span class="label label-dark">TV</span></a>
    <a href="#"><span class="label label-dark">Books</span></a>
    <a href="#"><span class="label label-dark">Tech</span></a>
    <a href="#"><span class="label label-dark">Adidas</span></a>
    <a href="#"><span class="label label-dark">Promo</span></a>
    <a href="#"><span class="label label-dark">Reading</span></a>
    <a href="#"><span class="label label-dark">Social</span></a>
    <a href="#"><span class="label label-dark">Books</span></a>
    <a href="#"><span class="label label-dark">Tech</span></a>
    <a href="#"><span class="label label-dark">New</span></a>

    <hr>

    <h5 class="heading-primary">Top Rated Products</h5>
    <ul class="simple-post-list">
    </ul>

</aside>
